<h4 class="text-center">
  {{title}}
</h4>
<button md-raised-button>Flat button</button>
<md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active"><a routerLink="/crisis-center">CrisisCenter</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/heroes">Heroes</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/login">Login</a></li>
</ul>
<!--<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/login">Login</a>
</nav>-->
<router-outlet></router-outlet>